In [ ]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import os

URLs = ['https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201802-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201803-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201804-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201806-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201807-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201808-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/201809-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/2018010-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/2018011-citibike-tripdata.csv.zip',\
       'https://s3.amazonaws.com/tripdata/2018012-citibike-tripdata.csv.zip']
       
# open and save the zip file onto computer
dfs=[]
for URL in URLs:
# open and save the zip file onto computer
    url = urlopen(URL)
    output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
    output.write(url.read())
    output.close()

# read the zip file as a pandas dataframe
    df = pd.read_csv('zipFile.zip')      
    dfs.append(df)
# if keeping on disk the zip file is not wanted, then:
#os.remove(201307-citibike-tripdata.zip)   # remove the copy of the zipfile on disk

In [11]:
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [12]:
df.shape

(1953103, 15)

In [13]:
df.to_csv('Data/citibike_2018.csv', encoding='utf-8', index=False)